# Copy to .env and customize
CIVITAI_TOKEN=
HF_TOKEN=
ENABLE_JUPYTER=true
ENABLE_FILEBROWSER=false
ENABLE_API=true
INSTALL_FACEID_MODELS=true
CHECKPOINT_VERSION_IDS_TO_DOWNLOAD=
LORA_VERSION_IDS_TO_DOWNLOAD=
VAE_VERSION_IDS_TO_DOWNLOAD=
CONTROLNET_VERSION_IDS_TO_DOWNLOAD=
EMBEDDING_VERSION_IDS_TO_DOWNLOAD=
UPSCALER_VERSION_IDS_TO_DOWNLOAD=
HF_REPOS_TO_DOWNLOAD=
HF_FILES_TO_DOWNLOAD=
FACEID_HF_REPOS=h94/IP-Adapter-FaceID,h94/IP-Adapter
FACEID_HF_FILES=
CUSTOM_NODES=
COMFYUI_EXTRA_ARGS=
DEFAULT_WORKFLOW_URL=
COMFYUI_PORT=8188
API_PORT=8000