requests
tqdm
pydantic
typing-extensions
huggingface-hub==0.24.6
hf-transfer
opencv-python-headless
jupyterlab
fastapi
uvicorn[standard]
python-multipart
safetensors
insightface
onnx
onnxruntime
onnxsim
scikit-image
piexif